<style>
	@font-face {
		font-family: 'Brandon Grotesque';
		src: url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_reg-webfont.eot');
		src: url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
		     url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_reg-webfont.woff') format('woff'),
		     url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_reg-webfont.ttf') format('truetype'),
		     url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_reg-webfont.svg#BrandonGrotesqueRegularRg') format('svg');
		font-weight: normal;
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Brandon Grotesque';
		src: url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_blk-webfont.eot');
		src: url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
		     url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_blk-webfont.woff') format('woff'),
		     url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_blk-webfont.ttf') format('truetype'),
		     url('https://s3.amazonaws.com/wcs-emails/fonts/Brandon_blk-webfont.svg#BrandonGrotesqueRegularRg') format('svg');
		font-weight: bold;
		font-style: normal;
	}
	
	@font-face {
	    font-family: 'Lato';
	    src: url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Bold.eot');
	    src: url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Bold.woff2') format('woff2'), 
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Bold.woff') format('woff'),
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Bold.ttf') format('truetype');
	    font-style: normal;
	    font-weight: bold;
	}
	
	@font-face {
	    font-family: 'Lato';
	    src: url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-BoldItalic.eot');
	    src: url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'),
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-BoldItalic.woff2') format('woff2'), 
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-BoldItalic.woff') format('woff'),
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-BoldItalic.ttf') format('truetype');
	    font-style: italic;
	    font-weight: bold;
	} 
	
	@font-face {
	    font-family: 'Lato';
	    src: url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Regular.eot');
	    src: url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Regular.woff2') format('woff2'), 
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Regular.woff') format('woff'),
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Regular.ttf') format('truetype');
	    font-style: normal;
	    font-weight: normal;
	}
	
	@font-face {
	    font-family: 'Lato';
	    src: url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Italic.eot');
	    src: url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Italic.woff2') format('woff2'), 
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Italic.woff') format('woff'),
	         url('https://s3.amazonaws.com/wcs-emails/fonts/Lato-Italic.ttf') format('truetype');
	    font-style: italic;
	    font-weight: normal;
	}
</style>